
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v11/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  outline: 0
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
}

strong {font-weight:700}

hr {
  position: relative;
  display: block;
  clear: both;
  height: 1px;
  border: 0;
  border-top: 1px solid #ECECEC;
  margin: 0;
  padding: 0;
}

hr:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 100px;
  height: 1px;
  background: #0b6ba8;
  margin-left: -50px;
}

ul,
li {
  margin: 0;
  padding: 0;
      list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

button,
input[type="text"],
input[type=email],
input[type=password],
textarea {
  color: inherit;
  display: block;
  background: transparent;
  border: 0;
  font-weight: inherit;
  width: 100%;
  max-width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  outline: 0;
  font-family: inherit;
  cursor: inherit;
  overflow: visible;
}

fieldset,
iframe {
  border: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 opacity:0.7;
}
::-moz-placeholder { /* Firefox 19+ */
 opacity:0.7;
}
:-ms-input-placeholder { /* IE 10+ */
 opacity:0.7;
}
:-moz-placeholder { /* Firefox 18- */
 opacity:0.7;
}


.container {
  padding: 10px;
}
.ui-checkbox {
    display: none;
}

.ui-checkbox + label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  font-size: 12px;
}
 
.ui-checkbox + label:before {
    background-color: #fff;
    border: 1px solid #30b0d7;    
    padding: 9px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    content: "";
}
 

 
.ui-checkbox:checked + label:before {
    border: 1px solid #30b0d7;    
    color: #99a1a7;
}

.ui-checkbox.no-border:checked + label:before {
    border-color: transparent;
}


 
.ui-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #30b0d7;
}
 
.ui-checkbox.green-tick:checked + label:after {
    color: #8cc63f;
}

.ui-radio {
    display: none;
}
 
.ui-radio + label{
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.ui-radio + label:before {
    background-color: #fff;
    border: 1px solid #30b0d7;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    content: ' ';
    width: 16px;
    height: 16px;
    top:0px;
    left:0px;
}
 
.ui-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    background: #30b0d7;
    top: 3px;
    left: 3px;
}
 
.ui-radio:checked + label:before {
    color: #99a1a7;
    border: 1px solid #30b0d7;
}


/* Display */

.db {
  display: block;
}

.dt {
  display: table;
  table-layout: fixed;
}

.dr {
  display: table-row;
}

.dc {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.di {
  display: inline-block;
  position: relative;
}

.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.dft {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start
}

.dfb {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end
}

.dfc {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.dfac {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.dfal {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.dfar {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end
	justify-content: flex-end
}

.df0 {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}
.df1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.df2 {
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2
}

.df3 {
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3
}


/* Largeurs */

.wm1580 {
  max-width: 1580px;
}

.wm1330 {
  max-width: 1330px;
}

.wm1260 {
  max-width: 1260px;
}

.wm1000 {
  max-width: 1000px;
}

.wm900 {
  max-width: 900px;
}

.wm780 {
  max-width: 780px;
}

.wm700 {
  max-width: 700px;
}

.wm600 {
  max-width: 600px;
}
.wm520 {
  width: 520px;
}
.wm460 {
  width: 460px;
}

.wm300 {
  width: 300px;
}

.wm160 {
  width: 160px;
}

.wm90 {
  width: 90px;
}

.wm60 {
  width: 60px;
}

.wm45 {
  width: 45px;
}

.wm30 {
  width: 30px;
}

.wm20 {
  width: 20px;
}

.wm10 {
  width: 10px;
}

.w12 {
  width: 100%;
}

.w11 {
  width: 91.66666666666666%;
}

.w10 {
  width: 83.33333333333334%;
}

.w9 {
  width: 75%;
}

.w8 {
  width: 66.66666666666666%;
}

.w7 {
  width: 58.333333333333336%;
}

.w6 {
  width: 50%;
}

.w5 {
  width: 41.66666666666667%;
}

.w4 {
  width: 33.33333333333333%;
}

.w3 {
  width: 25%;
}

.w2 {
  width: 16.666666666666664%;
}

.w1 {
  width: 110px;
}


/* Hauteurs */

.h12 {
  height: 100%;
}

.h6 {
  height: 50%;
}

.hm100 {
  height: 100px;
}

.hm90 {
  height: 90px;
}

.hm45 {
  height: 45px;
}

.hm30 {
  height: 30px;
}


/* Background */

.b {
  background-color: #222;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bat {
  background-position: center top;
}

.bab {
  background-position: center bottom;
}


/* Background Color */

.bc12 {
  background-color: white;
}

.bc11 {
  background-color: #f2f2f2;
}

.bc10 {
  background-color: #e9e9e9;
}

.bc9 {
  background-color: #ECECEC;
}

.bc8 {
  background-color: #d7d7d7;
}

.bc7 {
  background-color: #d3d3d3;
}

.bc6 {
  background-color: #939393;
}

.bc5 {
  background-color: #7e7e7e;
}

.bc4 {
  background-color: #414856;
}

.bc3 {
  background-color: rgba(0, 0, 0, 0.15);
}

.bc2 {
  background-color: #2a2a2a;
}

.bc1 {
  background-color: black;
}

.bcr {
  background-color: #BA3DE3;
}

.bcy {
  background-color: yellow;
}

.bco {
  background-color: #BA3DE3;
}

.bcp {
  background-color: pink;
}

.bcg {
  background-color: green;
}

.bcn {
  background-color: navy;
}

.bcb {
  background-color: #0b6ba8;
}

.bcm {
  background-color: brown;
}

.bc-fb {
  background-color: #5069A2;
}

.bc-tw {
  background-color: #3B93DA;
}

.bc-tw2 {
  background-color: #8ACAFA;
}


/* Alignements */

.a {
  position: relative;
}

.ac {
  margin: 0 auto;
}

.al {
  margin: 0 auto 0 0;
}

.ar {
  margin: 0 0 0 auto;
}

.at {
  vertical-align: top;
}

.ab {
  vertical-align: bottom;
}

.am {
  vertical-align: middle;
}

.af {
  position:fixed !important;top:0;
}

/* Textes Size */

.ts13 {
  font-size: 3.8rem;
}

.ts12 {
  font-size: 2.9rem;
}

.ts11 {
  font-size: 2.25rem;
}

.ts10 {
  font-size: 2rem;
}

.ts9 {
  font-size: 1.85rem;
}

.ts8 {
  font-size: 1.5rem;
}

.ts7 {
  font-size: 1.25rem;
}

.ts6 {
  font-size: 1.07rem;
}

.ts5 {
  font-size: 0.9rem;
}

.ts4 {
  font-size: 0.8rem;
}

.ts3 {
  font-size: 0.75rem;
}

.ts2 {
  font-size: 0.65rem;
}

.ts1 {
  font-size: 0.6rem;
}


/* Textes Color */

.tc12 {
  color: white;
}

.tc11 {
  color: #f2f2f2;
}

.tc10 {
  color: #e9e9e9;
}

.tc9 {
  color: #ECECEC;
}

.tc8 {
  color: #d7d7d7;
}

.tc7 {
  color: #d3d3d3;
}

.tc6 {
  color: #939393;
}

.tc5 {
  color: #7e7e7e;
}

.tc4 {
  color: #414856;
}

.tc3 {
  color: #333;
}

.tc2 {
  color: #2a2a2a;
}

.tc1 {
  color: black;
}

.tcr {
  color: red;
}

.tcy {
  color: yellow;
}

.tco {
  color: #D03E1C;
}

.tcp {
  color: pink;
}

.tcg {
  color: green;
}

.tcn {
  color: navy;
}

.tcb {
  color: #0b6ba8;
}

.tcm {
  color: brown;
}

.tc-fb {
  color: #5069A2;
}

.tc-tw {
  color: #3B93DA;
}

.tc-tw2 {
  color: #8ACAFA;
}


/* Textes Align */

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.taj {
  text-align: justify;
}


/* Text Line Height */

.tl {
  line-height: 0rem;
}

.tl1 {
  line-height: 1rem;
}

.tl2 {
  line-height: 1.25rem;
}

.tl3 {
  line-height: 1.4rem;
}

.tl4 {
  line-height: 1.75rem;
}

.tl5 {
  line-height: 2rem;
}


/* Text Espacement */

.te01 {
  letter-spacing: 0.01rem;
}

.te02 {
  letter-spacing: 0.02rem;
}

.te02 {
  letter-spacing: 0.04rem;
}


/* Text Border */

.tb {
  border: 1px solid;
}

.tb5 {
  border: 5px solid rgba(5,5, 5, 0.1);
}

.tbh {
  border-left: 1px solid;
  border-right: 1px solid;
}

.tbv {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.tbl {
  border-left: 1px solid;
}

.tbr {
  border-right: 1px solid;
}

.tbt {
  border-top: 1px solid;
}

.tbb {
  border-bottom: 1px solid;
}


/* Boutons */

.Btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}

/* Image */

.Img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Table */

.table {
  border: 1px solid black;
  border-bottom: none;
}

.table tr {
  border-bottom: 1px solid black;
}


/* Drop Down */

.drop {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 180px;
  z-index: 3;
  background: rgba(9, 11, 15, 1);
  padding: 4px 15px 30px 30px;
}


/* Form */

.in {
  padding: 2px 15px;
  border-radius: 0;
  width: auto;
  position: relative;
  vertical-align: middle;
  outline: 0;
  line-height: 0;
}


/* PopIn */

.pop {
  position: fixed;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 12;
}

.pop:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.popx {
  display: none;
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.pop .popx {
  display: block
}

.pop .popw {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.pop .popw2 {
  width: 1000px;
  margin: 0 -500px;
}

.pop .popw2 {
  width: 700px;
  margin: 0 -350px;
}

.pop .popw3 {
  width: 500px;
  margin: 0 -250px;
}


/* Blocks */

.blocks {
  width: 1140px;
  -moz-column-count: 3;
  -moz-column-gap: 30px;
  -moz-column-width: 360px;
  -webkit-column-count: 3;
  -webkit-column-gap: 30px;
  -webkit-column-width: 360px;
  column-count: 3;
  column-gap: 30px;
  column-width: 360px;
}

.block {
  margin: 15px 0;
  display: inline-block;
  width: 360px;
}


/* Click */

.c:hover {
  cursor: pointer;
}


/* Padding */

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.p40 {
  padding: 40px;
}

.p50 {
  padding: 50px;
}

.p60 {
  padding: 60px;
}

.p100 {
  padding: 100px;
}

.p120 {
  padding: 120px;
}


/* Padding Verticaux */

.pv5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pv100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pv120 {
  padding-top: 120px;
  padding-bottom: 120px;
}


/* Padding Horizontaux */

.ph5 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph30 {
  padding-left: 30px;
  padding-right: 30px;
}

.ph40 {
  padding-left: 40px;
  padding-right: 40px;
}

.ph50 {
  padding-left: 50px;
  padding-right: 50px;
}

.ph60 {
  padding-left: 60px;
  padding-right: 60px;
}

.ph100 {
  padding-left: 100px;
  padding-right: 100px;
}

.ph120 {
  padding-left: 120px;
  padding-right: 120px;
}


/* Padding Top */

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt100 {
  padding-top: 100px;
}

.pt120 {
  padding-top: 120px;
}


/* Padding Bottom */

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb120 {
  padding-bottom: 120px;
}


/* Padding Right */

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.pr100 {
  padding-right: 100px;
}

.pr120 {
  padding-right: 120px;
}


/* Padding Left */

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl100 {
  padding-left: 100px;
}

.pl120 {
  padding-left: 120px;
}

@media (max-width: 1280px) {
  .mx1 {
    display: none;
  }
	  .mo1 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .mx2 {
    display: none;
  }
		  .mo2 {
    display: block;
  }
}

@media (max-width: 800px) {
  .mx3 {
    display: none;
  }
		  .mo3 {
    display: block;
  }
}

@media (max-width: 640px) {
  .mx4 {
    display: none;
  }
		  .mo4 {
    display: block;
  }
}

@media (max-width: 320px) {
  .mx5 {
    display: none;
  }
		  .mo5 {
    display: block;
  }
}